Makefile.in
aclocal.m4
autom4te.cache/
config.h.in
config.h.in~
configure
depcomp
install-sh
missing
src/Makefile.in
Makefile
config.h
config.log
config.status
src/.deps/
src/Makefile
stamp-h1
src/*.o
src/vagent2
