# editor stuff
*~
.*.swp

# auto* bits
Makefile.in
Makefile
aclocal.m4
autom4te.cache/
config.h.in
configure
depcomp
install-sh
missing
config.h
config.log
config.status
.deps/
stamp-h1
tags
compile
tests/tmp
test-driver

# Compile bits
src/*.o
src/varnish-agent
varnish-agent.1
include/vcs_version.h

# Test stuff
tests/*.log
tests/*.trs
