Source: varnish-agent
Section: web
Priority: optional
Maintainer: Kristian Lyngstol <kristian@bohemians.org>
Build-Depends: debhelper (>= 7), libvarnishapi-dev
Standards-Version: 3.8.1

Package: varnish-agent
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Varnish Agent

