Source: varnish-agent
Section: web
Priority: optional
Maintainer: Kristian Lyngstol <kristian@bohemians.org>
Build-Depends: debhelper (>= 7),
	       libvarnishapi-dev (>= 3.0),
	       pkg-config,
	       libmicrohttpd-dev,
	       python-docutils,
	       varnish (>= 3.0.2),
	       libcurl4-gnutls-dev | libcurl-dev,
	       libwww-perl,
	       python-demjson
Standards-Version: 3.8.1

Package: varnish-agent
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, varnish (>= 3.0.2)
Description: Varnish Agent

